*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:"Segoe UI",sans-serif;
}
body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
    background:
    radial-gradient(
        circle at center,
        #002244,
        #000814
    );
    color:white;
}
html, body, #setup{
    width:100%;
    height:100%;
}
#setup{
    position:fixed;
    display:flex;
    justify-content:center;
    align-items:center;
}
#card{
    width:520px;
    padding:50px;
    text-align:center;
    background:
    rgba(0,0,0,.45);
    border:
    1px solid rgba(0,240,255,.3);
    border-radius:28px;
    backdrop-filter:blur(25px);
    box-shadow:
    0 0 60px rgba(0,240,255,.25);
    animation:
    cardIn .8s ease;
}
#systemStatus{
    margin-top:8px;
    font-size:12px;
    opacity:.35;
    letter-spacing:2px;
}
#logo{
    width:90px;
    height:105px;
    border-radius:18px;
    box-shadow:
    0 0 40px cyan;
    margin-bottom:25px;
}
#title{
    font-size:42px;
    letter-spacing:8px;
    font-weight:700;
    background:
    linear-gradient(
        90deg,
        white,
        cyan
    );
    -webkit-background-clip:text;
    color:transparent;
}
#subtitle{
    margin-top:10px;
    opacity:.6;
}
#progress{
    display:flex;
    justify-content:center;
    gap:10px;
    margin:35px;
}
#progress span{
    width:12px;
    height:12px;
    border-radius:50%;
    background:
    rgba(255,255,255,.2);
}
#progress .active{
    background:#00f0ff;
    box-shadow:
    0 0 15px cyan;
}
h1{
    font-size:32px;
    margin-bottom:15px;
}
p{
    opacity:.7;
    margin-bottom:30px;
}
input{
    width:100%;
    padding:15px;
    font-size:18px;
    background:
    rgba(255,255,255,.08);
    border:
    1px solid rgba(0,240,255,.3);
    border-radius:12px;
    color:white;
    outline:none;
}
input:focus{
    box-shadow:
    0 0 20px rgba(0,240,255,.4);
}
button{
    margin-top:30px;
    width:100%;
    padding:15px;
    border:none;
    border-radius:14px;
    background:#00f0ff;
    color:black;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.25s;
}
button:hover{
    transform:scale(1.04);
    box-shadow:
    0 0 30px cyan;
}
@keyframes cardIn{
    from{
        opacity:0;
        transform:translateY(40px) scale(.95);
    }
    to{
        opacity:1;
        transform:none;
    }
}
